<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <ensureSessionContext>
        <processor type="Sitecore.Analytics.Pipelines.EnsureSessionContext.EnsureContext, Sitecore.Analytics">
          <patch:attribute name="type">Sitecore.Support.Analytics.Pipelines.EnsureSessionContext.EnsureContext, Sitecore.Support.119228</patch:attribute>
        </processor>
      </ensureSessionContext>
    </pipelines>
  </sitecore>
</configuration>